<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planets</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
<div class="div-content">
    <h1>Planets from Star Wars World:</h1>
    <ul class="planetsList" th:each="entry : ${planets}">
        <li th:each="planet : ${entry.value}">
            <a th:text="${planet.name}" th:href="@{planets/{id} (id=${entry.key})}"/>
        </li>
    </ul>
    <a th:href="@{planets/save}"><button>Save planets to database</button></a>
</div>
</body>
</html>